---
# Only the main Sass file needs front matter (the dashes are enough)
---

@fontface {
  font-family: "Encode Sans";
  src: url("{{ assets/fonts/Encode Sans Normal/EncodeSansNormal-400-Regular.ttf | relative_url }}");
}
@import
  "minima",
  "font-awesome",
  "profile"
;

/* Flex box for student profile page
 *
 *
 *
*/

.flex-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-around;
}
